<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Carona Escola</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../css/main.css"/>

</head>
<body class="grey lighten-2 grey-text text-darken-3">

<div class="row center">
    <div class="col s12 m4 l4" style="padding-top: 20px">
        <a class="waves-effect waves-light" href="/">
        <img src="../../images/logo.png" alt="logo" width="200">
        </a>
    </div>
    <div class="col s12 m4 l4" style="padding-top: 40px">
        <h1 class="main-title center">Carona Escola</h1>
    </div>
</div>

<div class="row center">
    <div class="col s12 m4 l4 waves-effect waves-light">
        <a href="/aluno/cadastrar">
            <div class="card-panel hoverable z-depth-1 center grey darken-3">
                <i class="large material-icons">perm_identity</i>
                <div class="truncate"><b style="font-size: 20px">Cadastrar Alunos</b></div>
            </div>
        </a>
    </div>

    <div class="col s12 m4 l4 waves-effect waves-light">
        <a href="/aluno/listar">
            <div class="card-panel hoverable z-depth-1 center grey darken-3">
                <i class="large material-icons">list</i>
                <div class="truncate"><b style="font-size: 20px">Lista de Alunos</b></div>
            </div>
        </a>
    </div>

    <div class="col s12 m4 l4 waves-effect waves-light">
        <a href="/aluno/pesquisarnome">
            <div class="card-panel hoverable z-depth-1 center grey darken-3">
                <i class="large material-icons">search</i>
                <div class="truncate"><b style="font-size: 20px">Pesquisar por Nome</b></div>
            </div>
        </a>
    </div>

    <div class="col s12 m4 l4 waves-effect waves-light">
        <a href="/nota/iniciarpesquisa">
            <div class="card-panel hoverable z-depth-1 center grey darken-3">
                <i class="large material-icons">search</i>
                <div class="truncate"><b style="font-size: 20px">Pesquisar por Nota</b></div>
            </div>
        </a>
    </div>

    <div class="col s12 m4 l4 waves-effect waves-light">
        <a href="/geolocalizacao/iniciarpesquisa">
            <div class="card-panel hoverable z-depth-1 center grey darken-3">
                <i class="large material-icons ">my_location </i>
                <div class="truncate"><b style="font-size: 20px">Alunos Próximos</b></div>
            </div>
        </a>
    </div>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>